* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  display: flex;
  justify-content: flex-end;
}

nav {
  display: inline-flex;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
}

nav ul li {
  margin: 10px;
}

#candyboxli {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#candybox {
  width: 15px;
  height: 15px;
}

#candyboxli:hover {
  background-color: #00000020;
  border-radius: 50%;
}

#usericon {
  border-radius: 50%;
}

li {
  font-size: 14px;
}

#gmail:hover,
#images:hover {
  text-decoration: underline;
  cursor: pointer;
}

main {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

footer {
  height: 100px;
  background-color: #f2f2f2;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

#google-logo {
  width: 270px;
}

.inputbox {
  border: 1px solid #ccc;
  width: 600px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  margin: 20px 0 30px;
}

.inputbox:hover {
  border: none;
  box-shadow: 0px 1px 5px 0px #ccc;
}

#search-logo {
  height: 20px;
}

#mic-logo {
  height: 30px;
}

#lens-logo {
  height: 30px;
}

.inputbox input {
  height: 100%;
  flex: 1;
  border: none;
  outline: none;
  padding: 0 15px;
  font-size: 18px;
}

.buttonsbox button {
  border: none;
  width: 130px;
  height: 36px;
  border-radius: 4px;
  background-color: #f8f8f8;
}

.buttonsbox button:hover {
  cursor: pointer;
  border: 1px solid #ccc;
  box-shadow: 0px 1px 5px 0px #ccc;
}

footer .up {
  height: 50%;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  padding-left: 40px;
  color: #777;
  font-size: 14px;
}

footer .down {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  color: #777;
}

footer li:hover {
  text-decoration: underline;
  cursor: pointer;
}
